.gallery {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery .img {
  display: block;
  width: 400px;
  height: auto;
}
